body{
    background-image: url('http://miriadna.com/desctopwalls/images/max/Through-violet-forest.jpg');
    background-size: cover;
    background-color: black;
        
    height: 100vh;

}

body{
    font-family: fantasy;
    color: aliceblue;

    
}

a{
    color:beige;
    background-color: cadetblue;
}

.big{
    font-style: oblique;
}

.main{
    width: 850px;
}