.bgv {
  object-fit: cover;
  width: 120vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

video{
    width:1440px;
opacity: .6;
}

.text{
    position: absolute;
    display: block;
    text-align: center;
    width: 1400px;
    top: 100px;

    
    color: black;
    font-family: fantasy;
    
}

.text h1 {
    color: firebrick;

}

a{
    background-color: cornflowerblue;
    color: floralwhite;
}